@charset "UTF-8";
body {
  margin: 0;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
}

.heading {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
  padding: 85px 0 70px;
}
.heading .section__decoration--top1 {
  background: url("../img/筆刷2.svg") no-repeat 0 -12px;
  width: 191px;
  height: 138px;
  position: absolute;
  z-index: 2;
  top: -75px;
  right: -35px;
  transform: scale(1.3);
}
.heading .section__decoration--top2 {
  background: url("../img/筆刷4.svg") no-repeat -10px -17px;
  width: 281px;
  height: 71px;
  position: absolute;
  z-index: 1;
  top: -25px;
  right: -65px;
}
.heading_gif_container {
  margin: 0 auto;
  width: 85%;
  font-size: 0;
}
.heading_gif_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.heading_animation {
  display: flex;
  justify-content: center;
}
.heading_animation a {
  display: flex;
  width: 30%;
}
.heading_animation_speaker {
  flex: 1 0 0;
  gap: 10px;
  height: 40px;
  padding: 0;
  line-height: 40px;
  transform-style: preserve-3d;
  background: transparent;
  color: white;
  transform: rotate3d(0, 0, 0, 0deg);
  transition: 1s;
}
.heading_animation_speaker:hover {
  background: linear-gradient(90deg, #7f8bef, #4780e7, #55baeb, #31dead);
  border-radius: 20px;
  transform: rotate3d(1, 0, 0, 90deg);
}
.heading_animation_speaker span {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  content: "";
  display: block;
  background: linear-gradient(90deg, #7f8bef, #4780e7, #55baeb, #31dead);
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.3s;
  animation: gradient 3s ease infinite;
  background-size: 150% 150%;
}
.heading_animation_speaker span:nth-child(1) {
  transform: rotateX(0deg) translateZ(20px);
}
.heading_animation_speaker span:nth-child(2) {
  transform: rotateX(-90deg) translateZ(20px);
}
.heading_button {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 15px;
  width: 100%;
}
.heading_button_speaker {
  height: 30px;
  border-radius: 30px;
  border: none;
  background: transparent;
}
.heading_button_speaker:hover {
  background-image: url("../../img/vi9.svg");
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: bottom -18px right 17px;
}
.heading_button_timetable {
  height: 30px;
  border-radius: 30px;
  border: none;
  background: transparent;
}
.heading_button_timetable:hover {
  background-image: url("../../img/vi9.svg");
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: bottom -18px right 17px;
}
.heading_unit {
  display: flex;
  gap: 10px;
  justify-content: end;
  flex-wrap: wrap;
}
.heading_unit_gdg {
  flex-basis: 100%;
  width: 100%;
  text-align: center;
  margin-right: 20px;
}
.heading_unit_wtm {
  flex-basis: 40%;
  width: 100%;
}
.heading_unit_goodidea {
  flex-basis: 40%;
  width: auto;
}
.heading_unit li {
  list-style: none;
}
.heading_unit li a {
  display: inline-block;
  height: 25px;
  width: auto;
}
.heading_unit li a img {
  width: 100%;
  height: 100%;
}

.schedule {
  display: flex;
  justify-content: center;
}
.schedule h3 {
  font-weight: 400;
  padding: 10px 15px;
}
@media (max-width: 350px) {
  .schedule h3 {
    padding: 10px 10px;
  }
}
.schedule__column {
  font-size: 18px;
  line-height: 1.5;
  text-align: start;
}
@media (max-width: 350px) {
  .schedule__column {
    font-size: 1rem;
    line-height: 1.2;
  }
}
.schedule__column--time {
  font-family: "Open Sans", sans-serif;
}
.schedule__column__period {
  border-top: 1px solid;
  padding: 10px 15px;
}
@media (max-width: 350px) {
  .schedule__column__period {
    padding: 10px 10px;
  }
}
.schedule__column__period span {
  font-size: 14px;
  margin-left: 5px;
  vertical-align: middle;
}
@media (max-width: 350px) {
  .schedule__column__period span {
    font-size: 0.9rem;
    margin-left: 3px;
  }
}

.speaker {
  display: flex;
}
.speaker__image {
  flex: 0 0 auto;
}
.speaker__brief {
  margin: 10px 10px 0;
  align-self: center;
  text-align: start;
}
.speaker__brief__name {
  margin-bottom: 5px;
  font-size: 22px;
}
.speaker__brief span {
  display: block;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 999px;
  background: linear-gradient(90deg, #7f8bef, #4780e7, #55baeb, #31dead);
  background-size: 150% 150%;
  animation: gradient 3s ease infinite;
  position: relative;
}
.frame::after {
  content: "";
  display: block;
  height: 160px;
  width: 2px;
  position: absolute;
  bottom: -10px;
  right: 20px;
  z-index: -1;
  transform: rotate(20deg);
  background: #31dead;
}
.frame__decoration {
  position: absolute;
  width: 142.5px;
  height: 142.5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.frame__photo {
  display: block;
  width: 75%;
  height: 75%;
  border-radius: 999px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
main {
  position: relative;
  text-align: right;
}

section {
  position: relative;
  overflow: hidden;
}
section h2 {
  margin-bottom: 20px;
  letter-spacing: 5px;
  font-weight: 400;
}
section .section__decoration--top1 {
  background: url("../img/筆刷2.svg") no-repeat 0 -12px;
  width: 191px;
  height: 138px;
  position: absolute;
  z-index: 2;
  top: -75px;
  right: -35px;
  transform: scale(1.3);
}
section .section__decoration--top2 {
  background: url("../img/筆刷4.svg") no-repeat -10px -17px;
  width: 281px;
  height: 71px;
  position: absolute;
  z-index: 1;
  top: -25px;
  right: -65px;
}
section .section__decoration--bottom1 {
  background: url("../img/筆刷1.svg") no-repeat 0 -6px;
  width: 299px;
  height: 128px;
  position: absolute;
  bottom: -50px;
  left: -120px;
  z-index: 2;
  transform: rotate(5deg);
}
section .section__decoration--bottom2 {
  background: url("../img/筆刷3.svg") no-repeat 0 -11px;
  width: 294px;
  height: 32px;
  position: absolute;
  bottom: -25px;
  left: 40px;
  z-index: 1;
  transform: scale(1.5);
}
section .section__wrapper {
  width: 100%;
  max-width: 500px;
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
}

.speakers {
  width: 85%;
  margin: 0 auto;
}

.speaker {
  margin-bottom: -10px;
}
.speaker:nth-of-type(2n) {
  flex-direction: row-reverse;
}
.speaker:nth-of-type(2n) .speaker__brief {
  text-align: end;
}

.event {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;
  font-size: 18px;
}
.event__info {
  display: flex;
  align-items: center;
}
.event__info__label {
  flex: 0 0 auto;
  padding: 2px 20px 2px 5px;
  margin-right: 15px;
  background: #76B586;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  color: white;
  font-weight: 500;
  position: relative;
}
.event__info__label::after {
  content: "";
  display: block;
  width: 1px;
  height: 30px;
  background: #76B586;
  position: absolute;
}
.event__info--location {
  flex: 0 0 auto;
}
.event__info--location .address {
  text-align: start;
}
.event__info--location address {
  font-style: normal;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px 40px;
  position: relative;
  overflow: hidden;
}
footer .section__decoration--bottom1 {
  background: url("../img/筆刷1.svg") no-repeat 0 -6px;
  width: 299px;
  height: 128px;
  position: absolute;
  bottom: -50px;
  left: -120px;
  z-index: 2;
  transform: rotate(5deg);
}
footer .section__decoration--bottom2 {
  background: url("../img/筆刷3.svg") no-repeat 0 -11px;
  width: 294px;
  height: 32px;
  position: absolute;
  bottom: -25px;
  left: 40px;
  z-index: 1;
  transform: scale(1.5);
}
footer .organizer {
  text-align: center;
}
footer .organizer img {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
}
footer .organizer img + img {
  margin-left: 5px;
}
footer .organizer img.organizer__goodidea {
  height: 40px;
}

body {
  background-image: url(../img/底色.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.jump_arrow {
  width: 30px;
  height: 30px;
  position: sticky;
  top: 95%;
  right: 5%;
  z-index: 20;
}
.jump_arrow i {
  display: inline-block;
  font-size: 30px;
}

.invisible {
  display: none;
}

/*# sourceMappingURL=style.css.map */
