@use "./base/reset";
@use "./layout/heading";
@use "./layout/body";
@use "./layout/footer";

body {
    background-image: url(../img/底色.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 500px;
    margin:0 auto;
}
.jump_arrow{
    width:30px;
    height:30px;
    // background: url(/img/vi6.svg);
    // background-position: ;
    position: sticky;
    top:20%;
    // bottom: 30px;
    right:10%;
    z-index: 20;
    // transform: rotateX(15deg);

    i {
        display: inline-block;
        font-size: 30px;

        // text-align: end;

    }
}
.invisible{
    display: none;
}
// .desgin{
//     display: flex;
//     flex-direction: column;

//     &_origin{
//         width: 200px;
//         height: 200px;
//         img{
//             width:100%;
//             height:100%;
//         }
//     }
// }