@use "./base/reset";
@use "./layout/heading";
@use "./layout/body";
@use "./layout/footer";

body {
    background-image: url(../../img/底色.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


