@use "../base/colors";
@use "../component/schedule";
@use "../component/speaker";

main{
  position: relative;
  text-align: right;
}

section {
    h2{
      margin-bottom: 20px;
      letter-spacing: 5px;
      font-weight: 400;
    }

    position: relative;
    overflow: hidden;
    .section__decoration{
      &--top1 {
      background: url('../img/筆刷2.svg') no-repeat 0 -12px;
      width: 191px;
      height: 138px;

      position: absolute;
      z-index: 2;
      top: -75px;
      right: -35px;
      transform: scale(1.3);
    }

    &--top2{
      background: url('../img/筆刷4.svg') no-repeat -10px -17px;
      width: 281px;
      height: 71px;

      position: absolute;
      z-index: 1;
      top: -25px;
      right: -65px;
    }

    &--bottom1{
      background: url('../img/筆刷1.svg') no-repeat 0 -6px;
      width: 299px;
      height: 128px;

      position: absolute;
      bottom: -50px;
      left: -120px;
      z-index: 2;

      transform: rotate(5deg);
    }

    &--bottom2{
      background: url('../img/筆刷3.svg') no-repeat 0 -11px;
      width: 294px;
      height: 32px;

      position: absolute;
      bottom: -25px;
      left: 40px;
      z-index: 1;

      transform: scale(1.5);
    }
  }

  .section__wrapper{
    width: 100%;
    max-width: 500px;
    padding: 50px 0;
    margin: 0 auto;
    text-align: center;
}
}

.speakers{
  width: 85%;
  margin: 0 auto;
}

.speaker{
  margin-bottom: -10px;

  &:nth-of-type(2n){
    flex-direction: row-reverse;
    // justify-content: flex-end;

    .speaker__brief{
    text-align: end;
    }
  }
}

.schedule{
  // margin-bottom: 30px;
}

.event{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;

  margin-bottom: 30px;

  font-size: 18px;

  &__info{
    display: flex;
    align-items: center;

    &__label{
      flex: 0 0 auto;

      padding: 2px 20px 2px 5px;
      margin-right: 15px;

      background: colors.$green-darker;
      clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
      color: white;

      font-weight: 500;

      position: relative;

      &::after{
        content: "";
        display: block;
        width: 1px;
        height: 30px;
        background: colors.$green-darker;
        position: absolute;
      }

      img{
        // position: absolute;
        // inset: 0 0 0 0;
        // z-index: -1;
        // height: 100%;
        // width: 100%;
        // object-fit: cover;
        // object-position: right;
      }

      // background: url('../../img/日期標籤1.svg') no-repeat -29px -23px;
      // width: 121px;
      // height: 110px;
      // background-size: 30px 40px;
      // object-fit: contain;
    }

    &--location{
        flex: 0 0 auto;

        .address{
          text-align: start;
        }

        address{
          font-style: normal;
        }
      }
  }
}

