@use "../base/colors";

.heading {
    background-image: url("../../img/底色.svg");
    background-repeat: no-repeat;
    

    &_gif_container{
        img {
            width:100%;
            height: 100%;
        }
    }
    &_animation{

        &_speaker {
            width: 130px;
            height: 40px;
            padding: 0;
            perspective: 230px;
            line-height: 40px;
            &:hover {
                span:nth-child(1){
                    transform: rotateX(90deg);

                }
                span:nth-child(2){
                    transform: rotateX(0deg);

                }
            }
           span {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: colors.$gradient;
            transform: rotateX(45deg);
            transition: all .3s;

            &:nth-child(1){
                transform: rotateX(0deg);
                
                //旋轉的依據軸線
                transform-origin: 50% 50% -20px;
            }
            &:nth-child(2){
                transform: rotateX(-90deg);
                transform-origin: 50% 50% -20px;
            }
           } 
        }
    }

    &_button{
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 15px;
        width: 100%;
        &_speaker{
            height:30px;
            border-radius: 30px;
            border:none;
            background: transparent;
            &:hover{
                background-image: url("../../img/vi9.svg"); 
                background-repeat: no-repeat;
                background-size: 130%;
                background-position: bottom -18px right 17px;

            }

        }

        &_timetable{
            height:30px;
            border-radius: 30px;
            border:none;
            background: transparent;
            &:hover{
                background-image: url("../../img/vi9.svg"); 
                background-repeat: no-repeat;
                background-size: 130%;
                background-position: bottom -18px right 17px;

            }
        }
       
    }

    &_unit {
        display: flex;
        gap:10px;
        justify-content: end;
        flex-wrap: wrap;

        &_gdg{
            flex-basis: 100%;
            width:100%;
            //讓文字center
            text-align: center;
            margin-right: 20px;
        }
        &_wtm{
            flex-basis: 40%;
            width:100%;
            
        }
        &_goodidea{
            flex-basis: 40%;
            width:auto;
        }
        li{
            list-style: none;
            
            a{
                display: inline-block;
                height:25px;
                width:auto;
                img{
                    width: 100%;
                    height: 100%;
                }

            }

        }
    }
}