@use "../base/colors";

.heading {
    background-image: url("../../img/底色.svg");
    background-repeat: no-repeat;
    

    &_gif_container{
        img {
            width:100%;
            height: 100%;
        }
    }

    &_button{
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 15px;
        width: 100px;
        &_speaker{
            height:30px;
            border-radius: 30px;
            border:none;
            background: transparent;
            &:hover{
                background-image: url("../../img/vi9.svg"); 
                background-repeat: no-repeat;
                background-size: 130%;
                background-position: bottom -18px right 17px;

            }

        }

        &_timetable{
            height:30px;
            border-radius: 30px;
            border:none;
            background: transparent;
        }
        &_animation{
            animation: 3s ease-in-out infinite alternate show-button;
            @keyframes show-button {
                1%{
                    transform: translate(5px);
                }
                50%{
                    transform: translate(30px);

                }
                100%{
                    transform: translate(0px);

                }
            }
        }
    }

    &_unit {
        display: flex;
        gap:10px;

        li{
            list-style: none;
        }
    }
}