@use "../base/breakpoint";
$schedule-div-horizontal-padding: 15px;
$schedule-div-horizontal-padding-xs: 10px;


.schedule{
  display: flex;
  justify-content: center;

  h3{
    font-weight: 400;
    padding: 10px $schedule-div-horizontal-padding;

    @include breakpoint.mobile-smaller{
      padding: 10px $schedule-div-horizontal-padding-xs;
    }
  }

  &__column{
    font-size: 18px;
    line-height: 1.5;
    text-align: start;

    @include breakpoint.mobile-smaller{
      font-size: 1rem;
      line-height: 1.2;
    }

    &--time{

      font-family: 'Open Sans', sans-serif;
    }


    &__period{
      border-top: 1px solid;
      padding: 10px $schedule-div-horizontal-padding;
      @include breakpoint.mobile-smaller{
      padding: 10px $schedule-div-horizontal-padding-xs;
    }

      span{
        font-size: 14px;
        margin-left: 5px;
        vertical-align: middle;

        @include breakpoint.mobile-smaller{
          font-size: 0.9rem;
          margin-left: 3px;
        }
      }
    }
  }
}