$schedule-div-horizontal-padding: 15px;

.schedule_img{
  width: 100%;
  margin: -20px 0;

  img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

// .schedule{
//   display: flex;
//   justify-content: center;

//   h3{
//     font-weight: 400;
//     padding: 10px $schedule-div-horizontal-padding;
//   }

//   &__column{
//     font-size: 18px;
//     line-height: 1.5;
//     text-align: start;

//     &--time{

//       font-family: 'Open Sans', sans-serif;
//     }


//     &__period{
//       border-top: 1px solid;
//       padding: 10px $schedule-div-horizontal-padding;

//       span{
//         font-size: 14px;
//         margin-left: 5px;
//         vertical-align: middle;
//       }
//     }
//   }
// }